# Git files
.git

# Python related items
env/
__pycache__

# .env file with env variables
.env

# Coverage artifacts
.coverage
htmlcov

# VSCode configurations
.vscode

# SQLite database
database.db

# ADC file
application_default_credentials.json

# Temp OAuth generation function
oauth_temp.py

# Node modules
node_modules