# Git files
.git

# Python related items
env/
__pycache__

# .env file with env variables
.env

# Coverage artifacts
.coverage
htmlcov

# VSCode configurations
.vscode

# SQLite database
database.db

# Credentials files
creds/

# Temp OAuth generation function
oauth_temp.py

# Node modules
node_modules

# Terraform
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.plan
*.tfstate
*.tfstate.backup
*.tfvars