# Git files
.git

# Python related items
env/
__pycache__

# .env file with env variables
.env

# Coverage artifacts
.coverage
htmlcov

# VSCode configurations
.vscode

# SQLite database
database.db

# Credential files
oauth_client_secret.json
application_default_credentials.json