annotated-types
anyio
beautifulsoup4
cachetools
certifi
charset-normalizer
click
colorama
coverage
distlib
fastapi
filelock
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
h11
httplib2
idna
iniconfig
oauthlib
packaging
pipenv
platformdirs
pluggy
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
pyparsing
pytest
requests
requests-oauthlib
rsa
setuptools
sniffio
soupsieve
starlette
typing_extensions
uritemplate
urllib3
uvicorn
virtualenv
